
@headerHeight: 100px;
@mobileHeaderHeight: 65px;
@contentWidth: 768px;
@sidebarWidth: 320px;
@widebarWidth: 320px;
@navTabsHeight: 30px;

@october-orange: #dc692e;
@october-purple: #7f81ef;

@layout-border-color: #e2e7e8;

@header-border-color: #e0e3e5;
@header-border-active-color: #66afe9;

@text-color: #333333;
@text-color-secondary: #536061;
@text-color-accent: #1F3F50;
@headings-color: #26394a;
@link-color: @october-purple;
@link-hover-color: darken(saturate(@link-color, 20), 15, relative);

@checkbox-checked-color: #009BDE;
@highlight-background: #FFF8D4;
@code-bg-color: #282c34;

@text-accent-color: #213F50;
@grid-line-color: #ECF0F1;
@line-grid-standard-padding: 40px;

@font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
