.content-list, .content-list-p > p {
    column-count: 3; -moz-column-count: 3; -webkit-column-count: 3;
    column-gap: 2em; -moz-column-gap: 2em; -webkit-column-gap: 2em;
    margin-bottom: 25px;
}

.content-list, .content-list-p {
    a {
        display: block;
    }
}
